@charset "utf-8";

.openbtn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: left;
}
.line {
    background: rgb(255, 255, 255);
    margin: 8px 5px;
    width: 40px;
    height: 5px; 
    border-radius: 2px;
}

.menubar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
}

.menubar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    transition: 0.3s;
}

.menubar .menutitle {
    padding: 8px 8px 8px 32px;
    text-shadow: 1.5px -1.5px white, 1.5px 1.5px white, -1.5px 1.5px white, -1.5px -1.5px white;
    font-size: 30px;
    color: rgb(255, 255, 255);
    display: block;
}

.menubar a:hover {
    color: #f1f1f1;
}

.menubar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menubar .img {
    max-width: 40px;
    max-height: 40px;
}

@media screen and (max-height: 450px) {
    .menubar {padding-top: 15px;}
    .menubar a {font-size: 18px;}
}