@charset "utf-8";

.pack {
    display: table;
    overflow: hidden;
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: rgb(0, 255, 0);
}
.packName {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    color: rgb(0, 183, 255);
    text-shadow: 4px 4px 3px rgb(0, 2, 145);
}
.green1:hover .pack,
.green2:hover .pack {
    animation-name: outPack;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}
.green1:not(:hover) .pack,
.green2:not(:hover) .pack {
    animation-name: inPack;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}



@keyframes outPack {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

@keyframes inPack {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}